# ignore everything
/*
/**

!*.yaml
secrets.yaml
!.git*
!*.md

!/custom_components/
!/custom_components/*
!/custom_components/**

!/include/
!/include/*
!/include/**

!/util/
!/util/*
!/util/**

!/python_scripts/
!/python_scripts/*
!/python_scripts/**

!/www/
!/www/*
!/www/**

!/docs/
!/docs/*
!/docs/**

*.un~
__pycache__
