# ignore everything
*

!*.sh
!*.yaml
!.gitignore
!.gitmodules
!*.md
!/custom_components/
!/custom_components/*
!/custom_components/**
!/include/
!/include/*
!/include/**


.storage
.cloud
.google.token

ip_bans.yaml
secrets.yaml
known_devices.yaml

